<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.uid.DroidDoesMusic"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    	<activity android:name=".UI.Main"
    			  android:label="@string/app_name"
    			  android:theme="@android:style/Theme.NoTitleBar">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
        <activity android:name=".UI.Playlist"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".UI.Library"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".UI.LibraryArtistView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/ddm.artist"/>
			</intent-filter>
        </activity>
        <activity android:name=".UI.LibraryAlbumView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/ddm.album"/>
			</intent-filter>
        </activity>
        <activity android:name=".UI.LibrarySongView" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/ddm.track"/>
			</intent-filter>
        </activity>
        <activity android:name=".UI.NowPlaying"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".UI.Preferences"
                  android:label="@string/settings_title">
        </activity>
		<service android:name=".player.Player">
			<intent-filter>
				<action android:name="com.uid.DroidDoesMusic.player.Player" />
			</intent-filter>
		</service>
    </application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 